
<!--
   marca:string; 
   modelo:string; 
   an:string; 
   kilometros:number;
   tipo:Tipo;
   foto:string 
-->
<h2>Estadistica vehiculos</h2>
<ul>    
     
<table id="contentToConvert" >
    <!--
    <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
    -->
    <tbody>
    <tr *ngFor ="let item of autos">
        <th scope="row" > {{item.marca}} </th>
        <td> {{item.modelo}}</td>
        <td> {{item.an}}</td>
        <td> {{item.kilometros}}</td>
        <td> {{item.tipo}} </td>
        <td> {{item.localidad}}</td>
        <td>  {{item.concesionaria}}</td>
        <!-- {{item.foto}}-->
    </tbody>
</table>

</ul>

<br>
<br>

<div>  
  <input type="button" value="descargar PDF" (click)="captureScreen()"/>  
</div> 



