
<!--
   marca:string; 
   modelo:string; 
   an:string; 
   kilometros:number;
   tipo:Tipo;
   foto:string 
-->
<h2>Estadistica vehiculos</h2>
<ul>    
     
<table>
    <!--
    <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
    -->
    <tbody>
    <tr *ngFor ="let item of autos">
        <th scope="row" > {{item.marca}} </th>
        <td> {{item.modelo}}</td>
        <td> {{item.an}}</td>
        <td> {{item.kilometros}}</td>
        <td> {{item.tipo}} </td>
        <td> {{item.localidad}}</td>
        <td>  {{item.concesionaria}}</td>
        <!-- {{item.foto}}-->
    </tbody>
</table>

</ul>

<br>
<br>
<!--
<select  [(ngModel)]= 'selectedValue' (change)="filtrarTipo($event)" >
  <option *ngFor="let t of tipos" [ngValue]="t">{{t}}</option>
</select>
<br>
<br>

{{selectedValue }}
<ul>
    <li *ngFor ="let item of listaFiltradoTipo">
        {{item.marca}}
        {{item.modelo}}
        {{item.an}}
        {{item.kilometros}}
        {{item.tipo}} 
        {{item.localidad}}
        {{item.concesionaria}}
    </li>
</ul>
-->



