<h2>Cargar Vehiculo:</h2>
<br>
<form #formcargaVehiculo = "ngForm">
    Marca:
    <br>
    <!--
     <input type = "marca" name = "marca" [(ngModel)] = "vehi.marca" #marca = "ngModel" marca required/>
    -->

    <select class="browser-default custom-select" [(ngModel)]= 'unAuto.marca' name = "marca" (change) = "elegirModelo($event.target.value)" >
        <option *ngFor="let m of marcasAutos" [value]="m.value">{{m.display}}</option>
    </select>

        <br>
    Modelo:
    <br>

    <select class="browser-default custom-select" [(ngModel)]= 'unAuto.modelo'   name ="modelo" >
        <option *ngFor="let m of modelosAutos" [value]="m">{{m}}</option>
    </select>
     

     <br>

     Año:
     <br>
     <!--
     <input type = "an" name = "an" [(ngModel)] = "vehi.an" #an = "ngModel" />
     -->
     
     <select class="browser-default custom-select" [(ngModel)]= 'unAuto.an'   name ="an" >
        <option *ngFor="let a of anios" [ngValue]="a">{{a}}</option>
      </select>
    

      <br>

      Kilometros:
      <br>
      
      <input type = "text" name = "kilometros" [(ngModel)] = "unAuto.kilometros"  />
      
       <br>

       Tipo: 
       <br>
       <!--
       <select name = "selecttipo" class="form-control" id="exampleFormControlSelect1" required [(ngModel)] = "vehi.tipo" >
            <option>auto</option>
            <option>camioneta</option>
            <option>camion</option>
        </select>
        -->
        <select class="browser-default custom-select" [(ngModel)]= 'unAuto.tipo'   name ="tipo" >
            <option *ngFor="let t of tipos" [ngValue]="t">{{t}}</option>
        </select>
        <br>

        Localidad:
        <select class="browser-default custom-select" [(ngModel)]= 'unAuto.localidad'   name ="localidad" >
            <option *ngFor="let l of localidades" [ngValue]="l">{{l}}</option>
        </select>
        <br>

        Concesionaria:
        <select class="browser-default custom-select" [(ngModel)]= 'unAuto.concesionaria'   name ="concesionaria" >
            <option *ngFor="let c of concesionarias" [ngValue]="c">{{c}}</option>
        </select>
        <br>

        Foto:
        <br>
        <!--
        <input type = "text" name = "foto" [(ngModel)] = "auto.foto"   />
        -->

         <br>

    <br>
    <button type="submit" name ="submit" class="btn btn-success" (click) = "cargarAuto()"   >cargar vehiculo</button>

    <button type="mostrarvehiculos" style="margin-left:30px;"  name ="mostrar" class="btn btn-success" (click) = "mostrar()"  > mostrar vehiculos</button>



</form>

<br>



