<form #loginForm="ngForm">

    <input type = "text" name = "nombre" [(ngModel)] = "us.nombre" #nombre = "ngModel" nombre required/>
    <div *ngIf = 'nombre.invalid && (nombre.dirty || nombre.touched)'  >
        <div *ngIf = 'nombre.errors.required'>
           El nombre es requerido
        </div>

    </div>
   

    <input type ="password" name = "password" [(ngModel)] = "us.clave" #clave = "ngModel" password  required minlength="3"  />
    <div *ngIf = 'clave.invalid && (clave.dirty || clave.touched)'  >  
        <div *ngIf = 'clave.errors.required'>
            la clave es requerida
        </div>
        <div *ngIf = 'clave.errors.minlength'>
           la clave debe tener al menos 3 caracteres
        </div>
    </div>
    <br>
    <!-- -->

    <button type="submit" name ="submit" class="btn btn-success" (click) = "validar()"   [disabled]="!loginForm.form.valid" >ingresar</button>

<p *ngIf="esValido" style="color: red;"> 
    El usuario o la contraseña es incorrecto.
</p>


<a routerLink="/formulario"> Registrarse </a>


</form>
