
<form #consecionariaForm="ngForm">

    <input type="email" name = "email" [(ngModel)]="conces.email" #email="ngModel" email required />
    <div *ngIf = 'email.invalid && (email.dirty || email.touched)' >   el email es requerido </div>

    <input type ="password" name = "password" [(ngModel)] = "conces.pass" #pass = "ngModel" password  required minlength="3"  />
    <div *ngIf = 'pass.invalid && (pass.dirty || pass.touched)'  >  
        <div *ngIf = 'pass.errors.required'>
                la clave es requerida
        </div>
        <div *ngIf = 'pass.errors.minlength'>
            al menos debe tener la clave 6 caracteres
        </div>
    </div>
    <br>

    <input type="user" name = "user" [(ngModel)]="conces.user" #user="ngModel" user required />
    <div *ngIf = 'user.invalid && (user.dirty || user.touched)' >   el usuario es requerido </div>

    <br>

    <!-- [disabled]="!consecionariaForm.form.valid" -->
    <button type="submit" name ="submit" class="btn btn-success" (click) = "validar()" [disabled]="!consecionariaForm.form.valid"  >Votar</button>

</form>