
<form #consecionariaForm="ngForm">

    <input type="email" name = "email" [(ngModel)]="consec.email" #email="ngModel" email required />
    <div *ngIf = 'email.invalid && (email.dirty || email.touched)' >   el email es requerido </div>

    <input type ="password" name = "password" [(ngModel)] = "consec.clave" #clave = "ngModel" password  required minlength="6"  />
    <div *ngIf = 'clave.invalid && (clave.dirty || clave.touched)'  >  
        <div *ngIf = 'clave.errors.required'>
                la clave es requerida
        </div>
        <div *ngIf = 'clave.errors.minlength'>
            al menos debe tener la clave 6 caracteres
        </div>

    

    </div>
    <br>

    <!-- [disabled]="!consecionariaForm.form.valid" -->
    <button type="submit" name ="submit" class="btn btn-success" (click) = "validar()" [disabled]="!consecionariaForm.form.valid"  >Votar</button>

</form>