
Filtrado por tipo:
<br>
<select  [(ngModel)]= 'tipoSeleccionado' (change)="filtrarPorTipo($event)" >
    <option *ngFor="let t of tipos" [ngValue]="t">{{t}}</option>
  </select>
  <br>
  <br>

  Filtrado por localidad: 
  <br>
  <select  [(ngModel)]= 'localidadSeleccionada' (change)="filtrarPorLocalidad($event)" >
    <option *ngFor="let l of localidades" [ngValue]="l">{{l}}</option>
  </select>
  <br>
  <br>

  Filtrado por concesionaria:
  <br>
  <select  [(ngModel)]= 'concesionariaSeleccionada' (change)="filtrarPorConcesionaria($event)" >
    <option *ngFor="let c of concesionarias" [ngValue]="c">{{c}}</option>
  </select>
  <br>
  
 <!-- {{selectedValue + " " +  mostrar}} -->

  <!-- {{mostrar}} -->
  <ul>
      <li *ngFor ="let item of autos">
          {{item.marca}}
          {{item.modelo}}
          {{item.an}}
          {{item.kilometros}}
          {{item.tipo}} 
          {{item.localidad}}
          {{item.concesionaria}}
      </li>
  </ul>
