
<select  [(ngModel)]= 'tipoSeleccionado' (change)="filtrarPorTipo($event)" >
    <option *ngFor="let t of tipos" [ngValue]="t">{{t}}</option>
  </select>
  <br>

  <select  [(ngModel)]= 'localidadSeleccionada' (change)="filtrarPorLocalidad($event)" >
    <option *ngFor="let l of localidades" [ngValue]="l">{{l}}</option>
  </select>
  <br>

  
 <!-- {{selectedValue + " " +  mostrar}} -->

  <!-- {{mostrar}} -->
  <ul>
      <li *ngFor ="let item of autos">
          {{item.marca}}
          {{item.modelo}}
          {{item.an}}
          {{item.kilometros}}
          {{item.tipo}} 
          {{item.localidad}}
          {{item.concesionaria}}
      </li>
  </ul>
