
<table>

<td>
Filtrado por tipo:
<br>
<select class="browser-default custom-select" [(ngModel)]= 'tipoSeleccionado' (change)="filtrarPorTipo($event)" >
    <option *ngFor="let t of tipos" [ngValue]="t">{{t}}</option>
  </select>
</td>

<td>
  Filtrado por localidad: 
  <br>
  <select class="browser-default custom-select" [(ngModel)]= 'localidadSeleccionada' (change)="filtrarPorLocalidad($event)" >
    <option *ngFor="let l of localidades" [ngValue]="l">{{l}}</option>
  </select>
</td>

<td>
  Filtrado por concesionaria:
  <br>
  <select class="browser-default custom-select" [(ngModel)]= 'concesionariaSeleccionada' (change)="filtrarPorConcesionaria($event)" >
    <option *ngFor="let c of concesionarias" [ngValue]="c">{{c}}</option>
  </select>
</td>

<br>
</table>
  
 <!-- {{selectedValue + " " +  mostrar}} -->

  <!-- {{mostrar}} -->
  <h2>Estadistica vehiculos</h2>
<ul>    
     
<table id="contentToConvert" mdbTable striped="true" bordered="true" >
    
  <thead class="grey lighten-1 black-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>

  
    <tbody>
    <tr *ngFor ="let item of autos">
        <th scope="row" > {{item.marca}} </th>
        <td> {{item.modelo}}</td>
        <td> {{item.an}}</td>
        <td> {{item.kilometros}}</td>
        <td> {{item.tipo}} </td>
        <td> {{item.localidad}}</td>
        <td>  {{item.concesionaria}}</td>
        <!-- {{item.foto}}-->
    </tbody>
</table>
</ul>
<br>

<div>  
  <input type="button" value="descargar PDF" (click)="captureScreen()"/>  
</div> 



